#home{
    padding: 16px;
    margin-top: 80px;

    display: flex;
    justify-content: right;
    align-items: center;
    
    

}

.intro {
    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;

    color: #1A43BF;
    width: 575px;

    
    
    
}

.intro h2 {
    font-size: 90px;
}

.typing{
    font-size: 57px;
}



@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50%{border-color: white;}
}

section:not(#home){
    background-color: white;
}

