#home{
    padding: 16px;
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00072D;
    
    

}

.intro {

    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;

    width: 615px;
    right: 325px;


}


.intro-box{
    width: 250px;
    font-size: 30px;
    background-color: #051650;
    color: whitesmoke;
    
    text-align: center;
    
}

.intro h2 {
    font-size: 90px;
    color: white;
}

.typing, .intro h3{
    font-size: 57px;
    color: #1A43BF;
    width: 105%;
}




#pfp{
    height: 595px;
    background-color: #eafaff;
    margin-right: 150px;
    border-radius: 35%;
}




section{
    background-color: white;
}

